.WidgetConfigPage {
  .top {
    background: #fff;
    // height: calc(75vh - 56px - 56px - 84px);
  }

  .preview {
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  .WidgetConfigPage {
    .order-md-2 {
      width: calc(100vw - 45px);
      position: fixed;
    }

    .top {
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .WidgetConfigPage {
    .preview {
      top: 118px;
    }
  }
}