.Page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding-top: 96px;
  flex: 1 0 auto;
}

@media screen and (min-width: 576px) {
  main {
    padding-top: 56px;
  }
}

footer {
  flex-shrink: 0;
}